.control{
  position: relative;
  overflow: hidden;
  &__item:not(:first-child){

  }
  &__item{
    cursor: pointer;
    float: left;
    text-align: center;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    &--right{
      float: right;
    }
    &__icon{
      position: relative;
    }
    &__number{
      position: absolute;
      background: #000;
      color: #fff;
      font-weight: 700;
      top: 0px;
      left: 0px;
      width: 24px;
    }
  }
}

@media (min-width: 400px) {
  .control{
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  .control{
    &__item{
      width: 140px;
    }
  }
}
