.control{
  position: relative;
  overflow: hidden;
  &__item{
    cursor: pointer;
    margin-right: 20px;
    float: left;
    text-align: center;
    &__icon{
      width: 120px;
    }
    &__number{
      position: absolute;
      background: #000;
      color: #fff;
      font-weight: 700;
      top: 0px;
      left: 0px;
      width: 24px;
    }
  }
}
