.shirt{
  position: relative;
  &__outline{
    position: relative;
  }
  &__fill{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    &__polygon{
      fill: #fff;
    }
  }
  &__overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 20px;
    line-height: 1;
    font-size: .9em;
    &--print{
      padding-top: 24px;
      margin-left: 34px;
      margin-right: 34px;
    }
    &--size{
      padding-top: 24px;
    }
    &__heading{
      font-weight: 700;
      font-size: 1.6em;
    }
  }
}
