---
---
@import "styles";

html, body{
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/img/case3.png);
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

a:hover{
  text-decoration: none;
}

.logo{
  margin-top: 20px;
  margin-left: 20px;
  svg{
    width: 120px;
  }
  &__fill{
    fill: #ffffff;
  }
  &--fixed{
    top: 0px;
    left: 0px;
    position: fixed;
  }
}

.print{
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  &__inner{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &__container{
    max-width: 650px;
    margin: auto;
    padding: 50px;
  }

  &__slider{
    &__slide{
      display: none;
    }
  }

}

.is-active{
  display: block;
}

.is-hidden{
  display: none;
}

.top-right{
  position: fixed;
  top: 20px;
  right: 20px;
}

.bottom-right{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

// .colours{
//   position: absolute;
//   margin: 0px;
//   padding: 10px;
//   top: 0px;
//   left: 0px;
//   &__list{
//     padding: 0px;
//     margin: 0px;
//     &__colour{
//       margin-bottom: 5px;
//       &__link{
//         $size: 30px;
//         $border: 4px;
//         text-indent: -9999px;
//         display: block;
//         // background: #fff;
//         width: $size;
//         height: $size;
//         border-radius: ($size/2)+($border*2);
//         border: solid $border #333;
//
//         {% for colour in site.colours %}
//           &--{{ colour.modifier }} {
//             background: {{ colour.hex }};
//           }
//         {% endfor %}
//
//       }
//     }
//   }
// }

.theme{
  height: 100%;
  // position: fixed;
  // top: 0px;
  // left: 0px;
  // bottom: 0px;
  // right: 0px;
  {% for colour in site.colours %}
    &--{{ colour.modifier }} {
      background: {{ colour.primary }};
      .theme__highlight{
        color: {{ colour.secondary }};
        fill: {{ colour.secondary }};
        stroke: {{ colour.secondary }};
      }
    }
  {% endfor %}
}
