---
---
@import "globals";
@import "logo";
@import "print";
@import "slider";
@import "corner";
@import "shirt";
@import "control";

.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background: #f5f5f5;
}


.theme__highlight{
  color: #000;
  fill: #000;
  stroke: #000;
}

.theme{
  height: 100%;


  {% for colour in site.colours %}
    &--{{ colour.modifier }} {
      background: {{ colour.primary }};
      .theme__highlight{
        color: {{ colour.secondary }};
        fill: {{ colour.secondary }};
        stroke: {{ colour.secondary }};
      }
    }
  {% endfor %}
}


{% for colour in site.colours %}
  .shirt__fill__polygon--{{ colour.modifier }} {
    fill: {{ colour.primary }};
  }
{% endfor %}
