---
layout: default
---

{{ content }}

<div class="print">
  <div class="print__inner">

    <div class="print__container">
      <div class="print__slider">
        {% for print in site.prints %}
          {% assign svg = print.svg %}
          <div class="print__slider__slide print__slide__slide--{{ print.modifier }}">{% include {{ svg }} %}</div>
        {% endfor %}
      </div>
    </div>

    <menu class="colours">
      <ul class="colours__list">
        {% for colour in site.colours %}
          <li class="colours__list__colour">
            <a class="colours__list__colour__link colours__list__colour__link--{{ colour.modifier }} js-colour"
            href="#"
            data-color="{{ colour.hex }}">{{ colour.modifier }}</a>
          </li>
        {% endfor %}
      </ul>
    </menu>

  </div> <!-- /.print__inner -->
</div> <!-- /.print -->
